html,body {
  margin:0;
  padding:0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

.page_container {
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
}

.min900 {
  min-width: 900px;
}


.pointer_cursor {
  cursor: pointer;
}

.collapse_section {
  background-color: #eee;
  color:#229dff;
  font-size: 24px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.collapse_section:hover {
/*  text-decoration: underline;*/
  background-color: #999;
  color:#fff;
}

.p_font18 {
  font-size:18px;
}

.data_table_frame {
  width: 100%;
  overflow: scroll;
}


.width900 {
  max-width:900px; 
  margin:auto;
}
  
.margin-20 {
  margin: 20px;
}


.info_icon {
  background-color:#4387FD;
  border-radius:20px;
  vertical-align: top;
  border:0px;
  display:inline-block;
  color:#ffffff;
  font-family:"Georgia",Georgia,Serif;
  font-size:12px;
  font-weight:bold;
  font-style:normal;
  width:18px;
  height:18px;
  line-height:18px;
  text-align:center;
}
.info_icon:hover {
  background-color:#5EA1FF;
  color:#0000CC;
}

.info_icon:active {
  position:relative;
  top:1px;
}

/* datatable css */

/* .btn{
  border-radius: 15px;
} */

/* .btn_select_all{
  background-color:#4387FD; 
  border-radius: 15px !important; 
/* } */ 

.dataTables_wrapper button:hover {
  background-color:rgb(94, 161, 255); 
}

.dataTables_wrapper button {  
  border-radius: 15px;

}

table.dataTable td,th {
  max-width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}